

.Noticia {
    
    padding: 3em,;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 2em;

    &-titulo {
      font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 1.5em;
        text-align: center;
        margin-top: 1.5em;
        text-decoration: underline;
        text-decoration-color: red ;
        
    }

     &-h1{
        font-weight: bold;
        color: white;
     }
     &-descripcion{
        color: rgb(133, 130, 130);
     }
     &-span {
        color: red;
      }
 }
 