/* @import "../../mixins.scss";
 */
.Header {
    width: 100%;
    background-image: linear-gradient(to right top, #000000, #090706, #100e0c, #141310, #161815);
    padding: .0em 0;
    color: #fff;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.2);

    .Wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    &-h1 {
        max-width: 10.3em;
    }

    &-logo {}

    &-img {}

    &-nav {

        @media screen and (max-width:75em) {
            order: 2;
            width: 100%;
            border-top: 1px solid #000;
            margin: 1em 0 0;
            padding: 1em 0;

        }

        @media screen and (max-width: 45em) {
            display: none;
        }

    }

    &-ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;

    }

    &-li {}

    &-a {
        position: relative;

        &.isActive {
            font-weight: 800;

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: rgb(255, 0, 0);
                bottom: -3px;
                left: 0;
                transition: transform .4s;
                transform: scaleX(1);
            }

            &:hover::before {
                background-color: #FFFFFF;
                transform: scaleX(1.4);
            }
        }
    }

    &-redes {
        @media screen and (max-width:75em) {
            order: 1;
        }

        display: flex;
        flex-flow: nowrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
        color: #FFFFFF;
    }

    &-social {
        width: 1.5em;
        height: 1.5em;
        ;
    }

    &-red {}
}